@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700&family=Playfair+Display:wght@500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #0a0a10;
}

body {
  min-width: 320px;
  min-height: 100vh;

  font-family: "DM Sans", sans-serif;

  background: #0a0a10;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

button,
input,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}